*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box{
    height: 50vh;
    width: 50vh;
    display: flex;
    flex-direction: column;
    border: 1px solid;
    justify-content: center;
    align-items: center;
}

.row{
    display: flex;
    flex-direction: row;
}

.square{
    height: 15vh;
    width: 15vh;
    background-color: blue;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
